section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 100px 150px;
    background-color: #cccccc62;
    border: 1px solid #ccc;

    border-radius: 15px;
}

.title {
    margin-right: 15px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #cccccc62;
    padding: 5px;
    margin: 5px;
    color: white;
    transition: 0.4s all;
}

input:focus {
    width: 500px;
}

