
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;

    background: linear-gradient(119deg, #000000, #000000, #a80024, #000000, #000000, #006fae, #000000, #000000);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 47s ease infinite;
    -moz-animation: AnimationName 47s ease infinite;
    animation: AnimationName 47s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}
@keyframes AnimationName {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}